* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit; }

input, button {
  border: none;
  font-family: inherit;
  font-size: inherit; }

button, input[type="submit"] {
  cursor: pointer;
  background: none; }

input:focus, button:focus {
  outline: none; }

ul, li {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

body {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400; }

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px; }

.hidden {
  display: none; }

.header {
  background-color: #F8FFFF; }

.navigation {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 101px 56px 111px; }

.logo__nav {
  padding: 0px 242px 0px 0px; }

.nav__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 58px; }

.nav__telegram {
  transition: all 0.3s ease-in-out; }
  .nav__telegram:hover {
    transform: scale(1.3); }

.nav__mail {
  transition: all 0.3s ease-in-out; }
  .nav__mail:hover {
    transform: scale(1.3); }

.nav__phone {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px; }
  .nav__phone span {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1E959B; }
  .nav__phone img {
    transition: all 0.3s ease-in-out; }
  .nav__phone:hover img {
    transform: scale(1.3); }

.nav__button {
  display: inline-block;
  background-color: #F05670;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-transform: uppercase;
  transition: all 0.3s ease; }
  .nav__button:hover {
    background-color: #1E959B;
    color: #F8FFFF; }

.button__nav {
  border-radius: 15px;
  padding: 23px 40px; }

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 94px;
  padding-bottom: 54px; }

.header__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  text-transform: uppercase;
  color: #1E959B; }

.title__head {
  margin-bottom: 16px; }

.header__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #3C3C3C;
  margin-bottom: 50px; }

.button__head {
  box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
  border-radius: 20px;
  padding: 25px 24px; }

.header__img {
  max-width: 621px;
  max-height: 509px; }

.partners {
  background-color: #1E959B;
  padding: 18px 0px 18px 0px; }

.partners__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px; }

.partner__item {
  transition: all 0.3s ease-in-out; }
  .partner__item:hover {
    transform: scale(1.1); }

.offer {
  background-color: #F8FFFF;
  padding: 120px 0px; }

.offer-items__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 48px;
  margin-bottom: 33px;
  padding: 0px 74px; }

.offer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
  box-shadow: 0px 4px 4px rgba(30, 149, 155, 0.5);
  border-radius: 25px;
  transition: all 0.3s ease; }
  .offer__item:hover {
    box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
    transform: scale(1.2); }

.item__img {
  padding: 27px 57px 0px 57px;
  margin-bottom: 21px; }

.item__desc {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 19px; }

.offer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 105px; }

.offer__img {
  max-width: 606px;
  max-height: 508px; }

.title__offer {
  margin-bottom: 27px; }

.desc__offer {
  margin-bottom: 44px; }

.button__offer {
  box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
  border-radius: 20px;
  padding: 25px 21px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px; }

.our-projects {
  background-color: #F8FFFF;
  padding-bottom: 120px; }

.title__our-progects {
  text-align: center;
  margin-bottom: 50px; }

.our-projects__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 46px; }

.our-projects__row {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 62px; }
  .our-projects__row:last-child {
    margin-bottom: 44px; }

.our-projects__product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
  box-shadow: 0px 4px 4px rgba(30, 149, 155, 0.5);
  border-radius: 25px;
  width: 320px;
  height: 320px;
  transition: all 0.3s ease; }
  .our-projects__product:hover {
    box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
    transform: scale(1.1); }

.product__img {
  padding: 25px 55px 0px 55px;
  margin-bottom: 19px; }

.product__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1E959B;
  margin-bottom: 5px; }

.product__desc {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 25px;
  max-width: 256px; }

.button__our-projects {
  box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
  border-radius: 20px;
  padding: 25px 63px;
  border: 1px solid #1E959B;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #1E959B; }

.button__wrapper {
  display: flex;
  justify-content: center; }

.blog {
  background: url("../../img/blog/blog-bg.png") 0 0%/100vw no-repeat, #F8FFFF;
  position: relative; }
  .blog::before {
    content: '';
    position: absolute;
    background-image: url("../../img/blog/Ellipse1.svg");
    background-repeat: no-repeat;
    width: 87px;
    height: 87px;
    left: 0;
    bottom: 0; }
  .blog::after {
    content: '';
    position: absolute;
    background-image: url("../../img/blog/Ellipse2.svg");
    background-repeat: no-repeat;
    width: 98px;
    height: 98px;
    left: 123px;
    top: 0; }

.blog__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 79px; }

.blog__text {
  padding: 122px 0px; }

.blog__date {
  font-weight: 700;
  font-size: 16px;
  line-height: 250%;
  text-transform: uppercase;
  color: #F05670;
  margin-bottom: 6px; }

.title__blog {
  max-width: 608px; }

.blog__img {
  position: relative; }
  .blog__img::before {
    content: '';
    position: absolute;
    background-image: url("../../img/blog/Ellipse3.svg");
    background-repeat: no-repeat;
    width: 174px;
    height: 87px;
    bottom: -24px;
    left: -132px; }

.arrow__back {
  position: absolute;
  left: 0; }
  .arrow__back > svg path {
    transition: all 0.3s ease; }
  .arrow__back:hover > svg path {
    opacity: 1; }

.arrow__next {
  position: absolute;
  right: 0;
  bottom: 50%; }
  .arrow__next > svg path {
    transition: all 0.3s ease; }
  .arrow__next:hover > svg path {
    opacity: 1; }

.make-order {
  background-color: #F8FFFF;
  padding: 163px 0px 120px 0px; }

.make-order__wrapper .order-row__wrapper + .order-row__wrapper {
  margin-top: 83px; }

.order-row__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px; }
  .order-row__wrapper::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 154px;
    background-color: #1E959B; }

.order-item__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
  box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
  border-radius: 30px;
  width: 289px;
  height: 305px; }
  .order-item__wrapper:hover .order-item__img {
    background-color: #F05670; }

.order-item__img {
  position: absolute;
  top: -43px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 182px;
  height: 182px;
  background-color: #1E959B;
  transition: all 0.3s ease; }

.order-item__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #1E959B;
  margin-top: 171px;
  margin-bottom: 27px; }
  .order-item__title--twostring {
    margin-top: 160px;
    margin-bottom: 10px; }

.button__order-item {
  padding: 24px 66px;
  box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
  border-radius: 20px;
  margin-bottom: 20px; }

.submit-application {
  background-color: #F8FFFF;
  padding-bottom: 85px; }

.submit-application__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 113px; }

.submit-application__img {
  width: 322px;
  height: 315px; }

.button__submit-application {
  box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
  border-radius: 20px;
  padding: 37px 57px 32px 57px;
  width: 330px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px; }

.footer {
  padding: 44px 38px 38px 38px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%), #C4C4C4; }

.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  max-height: 136px;
  margin-bottom: 5px; }

.footer__col {
  display: flex;
  flex-direction: column;
  row-gap: 15px; }

.footer__link {
  font-size: 16px;
  line-height: 19px;
  color: #1E959B; }
  .footer__link > span {
    font-weight: 700;
    line-height: 20px; }

.nav__phone {
  min-width: 160px; }

.footer__row {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px; }

.notes {
  font-size: 14px;
  line-height: 17px;
  min-width: 290px; }

.copyright {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgba(60, 60, 60, 0.5); }

/*# sourceMappingURL=main.css.map */
