.our-projects {
    background-color: #F8FFFF;
    padding-bottom: 120px;
}
.title__our-progects {
    text-align: center;
    margin-bottom: 50px;
}
.our-projects__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 46px;
}
.our-projects__row {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 62px;
    &:last-child {
        margin-bottom: 44px;
    }
}
.our-projects__product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
    box-shadow: 0px 4px 4px rgba(30, 149, 155, 0.5);
    border-radius: 25px;

    width: 320px;
    height: 320px;

    transition: all 0.3s ease;
    &:hover {
        box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
        transform: scale(1.1);
    }
}
.product__img {
    padding: 25px 55px 0px 55px;
    margin-bottom: 19px;
}
.product__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1E959B;
    margin-bottom: 5px;
}
.product__desc {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 25px;
    max-width: 256px;
}
.nav__button {
}
.button__our-projects {
    box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
    border-radius: 20px;
    padding: 25px 63px;
    border: 1px solid #1E959B;
    background-color: transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #1E959B;
}
.button__wrapper {
    display: flex;
    justify-content: center;
}